* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --default: #32926f;
  --gray-default: #525252;
}

body {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.body-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate-age {
  width: 64%;
}

.calculate-age header {
  margin-bottom: 32px;
}

.calculate-age header h1,
.calculate-age
  .age-form-container
  .age-result-container
  .result-container
  span {
  font-weight: 600;
  font-size: 26px;
  color: var(--default);
}

.calculate-age header span {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-default);
}

.calculate-age header,
.calculate-age .age-form-container .age-info-container .form-input-container,
.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container,
.calculate-age .age-form-container .age-result-container .result-container,
.calculate-age
  .age-form-container
  .age-result-container
  .result-container
  .result {
  display: flex;
  flex-direction: column;
}

.calculate-age header,
.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container,
.calculate-age .age-form-container .age-result-container .result-container,
.calculate-age
  .age-form-container
  .age-result-container
  .result-container
  .result {
  gap: 8px;
}

.calculate-age .age-form-container {
  display: flex;
}

.calculate-age button {
  cursor: pointer;
  margin-top: 32px;
  font-size: 12px;
  font-weight: bold;
  color: var(--default);
  padding: 8px 32px;
  background-color: white;
  border: 2px solid var(--default);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calculate-age .age-form-container .age-info-container {
  width: 100%;
}

.calculate-age .age-form-container .age-info-container .form-input-container {
  width: 80%;
  gap: 32px;
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  label,
.calculate-age
  .age-form-container
  .age-result-container
  .result-container
  label {
  font-size: 12px;
  color: var(--gray-default);
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  .input-form {
  width: 100%;
  height: 40px;
  color: #334155;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  box-sizing: border-box;
  outline: none;
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  .error {
  height: 56px;
  display: flex;
  gap: 2px;
  align-items: end;
  flex-direction: column;
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  .info-error {
  display: block !important;
  color: red;
  font-size: small;
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  .hidden-info {
  display: none;
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  .input-border-error {
  border-color: red;
}

.calculate-age
  .age-form-container
  .age-info-container
  .form-input-container
  .input-container
  input {
  padding: 0 4px;
}

::-webkit-input-placeholder {
  font-size: medium;
}

.calculate-age .age-form-container .age-result-container {
  position: relative;
  width: 100%;
}

.calculate-age .age-form-container .age-result-container::before {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  background-color: var(--default);
}

.calculate-age .age-form-container .age-result-container .result-container {
  padding: 0 16px;
}

@media (max-width: 490px) {
  body {
    width: auto;
    height: auto;
  }

  .calculate-age {
    width: 100%;
  }

  .body-container {
    padding: 20px;
  }

  .calculate-age .age-form-container {
    flex-wrap: wrap;
    gap: 32px;
  }

  .calculate-age .age-form-container .age-info-container .form-input-container {
    width: 100%;
  }

  .calculate-age .age-form-container .age-result-container::before {
    width: 100%;
    height: 2px;
  }

  .calculate-age .age-form-container .age-result-container .result-container {
    padding: 16px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
